<script src="js/dash.js"></script>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">宅车宝</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">首页</a></li>
				<li><a href="#about">关于</a></li>
				<li><a href="#contact">联系</a></li>

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><%-user.username %></a></li>
				<li><a href="/logout">退出</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<div id="layout" class="content pure-g">
	<div id="users" class="pure-u-1">
		<div class="user-item user-item-selected pure-g">
			<div class="item">
				<img class="avatar" alt="Tilo Mitra&#x27;s avatar" height="64" width="64" src="img/common/tilo-avatar.png">
				<h5 class="name"><li data-target="#carousel-example-generic" data-slide-to="0" class="active">What the fuck</li></h5>
			</div>
		</div>

		<div class="user-item user-item-unread pure-g">
			<div class="item">
				<img class="avatar" alt="Eric Ferraiuolo&#x27;s avatar" height="64" width="64" src="img/common/ericf-avatar.png">
				<h5 class="name"><a href="#slide2"><li data-target="#carousel-example-generic" data-slide-to="1" class="active">Eric Ferraiuolo</li></a></h5>
			</div>
		</div>

		<div class="user-item user-item-unread pure-g">
			<div class="item">

				<img class="avatar" alt="YUI&#x27;s avatar" height="64" width="64" src="img/common/yui-avatar.png">
				<h5 class="name"><li data-target="#carousel-example-generic" data-slide-to="2">YUI</li></h5>
			</div>
		</div>

		

	</div>

	<div id="chats" class="pure-u-1">
		<div class="chat-content">
			<div class="chat-content-header pure-g">
				<div class="pure-u-1-2">
					<h3 class="chat-content-title">XXX</h3>
				</div>

			</div>
			<div class="main">
				<div id="cbp-contentslider" class="cbp-contentslider">
					<ul>
						<li id="slide1">
							<h3 class="icon-wolf">Wolf</h3>
							<div>
								<div class="cbp-content">
									<p>Veggies sunt bona vobis, proinde vos postulo esse magis desert raisin bush tomato soko salsify garbanzo horseradish cabbage burdock.</p>
									<p>Daikon artichoke gumbo azuki bean bok choy avocado winter purslane gram earthnut pea broccoli salsify squash plantain wattle seed wakame broccoli rabe bamboo shoot. Zucchini lotus root azuki bean epazote dulse pumpkin rutabaga spinach. Endive mung bean gumbo maize plantain rock melon.</p>
								</div>
							</div>
						</li>
						<li id="slide2">
							<h3 class="icon-rabbit">Rabbit</h3>
							<div>
								<div class="cbp-content">
									<p>Chicory collard greens tatsoi cress bamboo shoot broccoli rabe lotus root earthnut pea arugula okra welsh onion leek shallot courgette. Chard garlic fava bean pea sprouts gram spinach plantain tomatillo. Chicory garlic black-eyed pea gourd chickpea cucumber lotus root.</p>
									<p>Daikon artichoke gumbo azuki bean bok choy avocado winter purslane gram earthnut pea broccoli salsify squash plantain wattle seed wakame broccoli rabe bamboo shoot. Zucchini lotus root azuki bean epazote dulse pumpkin rutabaga spinach. Endive mung bean gumbo maize plantain rock melon.</p>
								</div>
							</div>
						</li>
						<li id="slide3">
							<h3 class="icon-aligator">Aligator</h3>
							<div>
								<div class="cbp-content">
									<p>Tomato shallot broccoli rabe aubergine melon fava bean soybean sorrel. Tomatillo plantain wattle seed pea ricebean sorrel fennel welsh onion kakadu plum celery. Arugula radicchio garlic welsh onion kale celtuce tomato fava bean beet greens soybean burdock groundnut lentil broccoli rabe.</p>
								</div>
							</div>
						</li>
						<li id="slide4">
							<h3 class="icon-turtle">Turtle</h3>
							<div>
								<div class="cbp-content">
									<p>Yarrow bush tomato beetroot taro water chestnut komatsuna azuki bean. Parsnip artichoke water chestnut caulie carrot grape summer purslane brussels sprout fava bean tomatillo pea groundnut nori earthnut pea tigernut. Tigernut brussels sprout wakame tomatillo radicchio carrot maize swiss chard seakale melon grape broccoli pea sprouts kakadu plum plantain cauliflower. Gram salsify radicchio daikon courgette rock melon bunya nuts turnip greens. Cabbage black-eyed pea spinach asparagus plantain cress soybean spring onion salad artichoke pea garlic silver beet grape water spinach zucchini wakame summer purslane.</p>
								</div>
							</div>
						</li>
						<li id="slide5">
							<h3 class="icon-platypus">Platypus</h3>
							<div>
								<div class="cbp-content">
									<p>Potato watercress burdock spinach quandong jícama chard pea sprouts garlic celery turnip daikon kale lotus root sorrel coriander rock melon cabbage. Epazote salsify lentil rock melon eggplant cauliflower zucchini caulie catsear broccoli rabe pumpkin lettuce okra green bean squash seakale onion water chestnut. Sweet pepper peanut corn soko celery winter purslane.</p>
									<p>Daikon artichoke gumbo azuki bean bok choy avocado winter purslane gram earthnut pea broccoli salsify squash plantain wattle seed wakame broccoli rabe bamboo shoot. Zucchini lotus root azuki bean epazote dulse pumpkin rutabaga spinach. Endive mung bean gumbo maize plantain rock melon.</p>
								</div>
							</div>
						</li>
					</ul>

					<nav>
						<a href="#slide1" class="icon-wolf"><span>Wolf</span></a>
						<a href="#slide2" class="icon-rabbit"><span>Rabbit</span></a>
						<a href="#slide3" class="icon-aligator"><span>Aligator</span></a>
						<a href="#slide4" class="icon-turtle"><span>Turtle</span></a>
						<a href="#slide5" class="icon-platypus"><span>Platypus</span></a>
					</nav>
				</div>
			</div>

		</div>
		<div class="chat-reply">
			<form class="pure-form">
				<div class="" style='position:relative;'>
					<textarea class='elastic-textarea'></textarea>
					<span style='position:absolute;bottom:0px;right:0px; width:100px;'>
						<button class='pure-button primary-button'>Reply</button>
					</span>
				</form>
			</div>
		</div>
		
	</div>
	<div id='order' class='pure-u-1'>
		Order
		
	</div>
	
	<script src="js/jquery.cbpContentSlider.min.js"></script>
	<script>
		$(function() {
				/*
				- how to call the plugin:
				$( selector ).cbpContentSlider( [options] );
				- options:
				{
					// default transition speed (ms)
					speed : 500,
					// default transition easing
					easing : 'ease-in-out',
					// current item's index
					current : 0
				}
				- destroy:
				$( selector ).cbpContentSlider( 'destroy' );
				*/

				$( '#cbp-contentslider' ).cbpContentSlider();
			});
	</script>