<div id='layout' >
    <div class='col-md-2 full-height'>
        <div class='full-height full-width'>
            <img class="img-circle own-avatar" alt="Tilo Mitra&#x27;s avatar" height="50" width="50" src="img/common/tilo-avatar.png">
            <div id='user-title' class='title'>
                联系人
            </div>
            <div id='user-list' class='scrollable' >
            </div>
        </div>
    </div>   

    <div class='col-md-5 full-height'>
        <div class='full-height full-width'>
            <div id='to-peer-id' class='title'>

            </div>
            <div id='peer-box' class='scrollable' >
            </div>

            <div class='footer form'>
                    <div class="pure-form" style='position:relative;'>
                        <input id="msg" class='chat-reply'></input>
                        <span class='chat-reply-btn'>
                            <button class='btn btn-secondary'  id="sendbtn">回复</button>
                        </span>
                </div>
                </div>

        </div>
    </div>


    <div class='col-md-5 full-height'>
        <div class='full-height full-width'>
            <div class='title'>
                订单信息
            </div>
            <div id='order' class='scrollable' >
             <div class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Username</label>
                        <input id="name" type="text" placeholder="Username">
                    </div>

                    <div class="pure-control-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" placeholder="Password">
                    </div>

                    <div class="pure-control-group">
                        <label for="email">Email Address</label>
                        <input id="email" type="email" placeholder="Email Address">
                    </div>

                    <div class="pure-control-group">
                        <label for="state">State</label>
                        <select id="state">
                            <option>AL</option>
                            <option>CA</option>
                            <option>IL</option>
                        </select>
                    </div>

                    <div class="pure-controls">
                        <button class="pure-button button-update"><i class="fa fa-pencil"> 更新</i></button>
                        <button class="pure-button button-delete"><i class="fa fa-trash-o"> 删除</i></button>
                    </div>
                </fieldset>
            </div>                
        </div>
    </div>
</div>
</div>
<div class="clearfix"></div>
    <div id="test">
    <div class="form-inline">
            <div class="form-group">
                <label for="">
                    新建聊天
                </label>
                <input type="text " id="watchingPeer" class="form-control">
            </div>
            <span id="connect-status" class="text-primary">
                not connected
            </span>
            <div class="btn-group">
                <button id="addwatch" class="btn btn-default">
                    watch
                </button>
                <button id="removewatch" class="btn btn-default">
                    unwatch
                </button>
            </div>
        </div>

    </div>
<!-- Template -->

<div class="hide">
    <div id="user-tpl">
      <div id='user-@peerId@' class='user-item pure-g'>
        <div class="item">
          <a href="#"  id="peer-@peerId@" onclick="addWatch('@peerId@');setSendTo('@peerId@');switchChatTo('@peerId@');">
              <img class="img-circle avatar" alt="Tilo Mitra&#x27;s avatar" height="40" width="40" src="img/common/tilo-avatar.png">
              <span class='name'>@peerId@</span>
          </a>
      </div>
  </div>
</div>

<div id="nav-tpl">
    <a href="#@peerId@" id="slide-@peerId@">@peerId@</a>    
</div>

<div id="msg-tpl">
    <ul id='@peerId@'>                      
    </ul>   
</div>
</div>
<script src="js/jquery.cbpContentSlider.js"></script>
<script type='text/template'>
</script>

<script>
    var peerId = '<%-user.username%>';
    var watching = [];
    var toPeerId;

        // var watchingPeer = $('#watchingPeer').val().split(',');
        var chat;
        // ---------------- 基本初始化 打开关闭 ----------------
        $(function() {
            if($('#watchingPeer').val()!=""){
                watching = $('#watchingPeer').val().split(',');
            }
            chat = new AVChatClient({
                appId: appid,
                peerId: peerId,
                watchingPeerIds: watching
                // auth: auth
            });
            chat.on('close', function() {
                alert('connection closed')
                $('#connect-status').text('not connected');
                $('.online').removeClass('online').addClass('offline');
            });
            // --------------- chat 相关监听 ---------------
            chat.on('message', function(data) {
                addWatch(data.fromPeerId);
                if ($('to-peer-id').text() == ''){
                    $('to-peer-id').text(data.fromPeerId);
                }
                $('#'+data.fromPeerId).append('<li class="other">'+data.fromPeerId+'说: '+data.msg+'</li>');
                
                switchChatTo($('#to-peer-id').text());
            });
            chat.on('online', function(peers) {
                for (var i = 0; i < peers.length; i++) {
                    $('#peer-' + peers[i]).removeClass('offline');
                    $('#peer-' + peers[i]).addClass('online');
                }
            });
            chat.on('offline', function(peers) {
                for (var i = 0; i < peers.length; i++) {
                    $('#peer-' + peers[i]).removeClass('online');
                    $('#peer-' + peers[i]).addClass('offline');
                }
            });
            openSocket();
        });
        // --------------- 基础 ---------------
        function openSocket(){
            $('#user-list').empty();
            addWatchingPeer($('#watchingPeer').val().split(','));
            chat.open().then(function() {
                $('#status').append('Opened');
                $('#status').append('<br>');
                $('#connect-status').text('connected')
            }, function(err) {
                alert('open failure');
                console.log(err)
            });
        }
        function closeSocket() {
            chat.close().then(function() {
                $('#connect-status').text('not connected');
                $('.online').removeClass('online').addClass('offline');
            });
        }
        //---------------- 1 v 1 聊天相关 ----------------
        function addWatch(peerId){
            if (!_.contains(watching, peerId)){
                addWatchingPeer(peerId.split(','));
                chat.watch(peerId.split(',')).then(function() {
                }, function() {
                    alert('watch failure')
                });
            }
        }
        $('#addwatch').click(       
            function() {
                addWatch($('#watchingPeer').val());
            });
        $('#removewatch').click(function() {
            removeWatchingPeer($('#watchingPeer').val().split(','));
            chat.unwatch($('#watchingPeer').val().split(','));
        });
        function setSendTo(peerId) {
            toPeerId = peerId;
            $('#to-peer-id').text(toPeerId);
            // 重新设定选择对话人
            alert('setting '+peerId);
            $('.user-item-selected').removeClass('user-item-selected');
            alert('#user-'+peerId);
            $('#user-'+peerId).addClass('user-item-selected');
        }
        function switchChatTo(peerId){
            if (peerId && peerId != ''){
                $('#peer-box > ul').each(function(){
                    $(this).addClass('hide');
                })
                $('#'+peerId).removeClass('hide');
            }
        }
        function addWatchingPeer(peers) {
            for (var i = 0; i < peers.length; i++) {
                if (!peers[i]) {
                    return;
                }
                var str = $('#user-tpl').html().replace(/@peerId@/g, peers[i]);
                var str2 = $('#nav-tpl').html().replace(/@peerId@/g, peers[i]);
                var str3 = $('#msg-tpl').html().replace(/@peerId@/g, peers[i]);
                $('#user-list').append(str);
                $('#peer-box').append(str3);
                if ($('#user-list .user-item').length <= 1) {
                    setSendTo(peers[i])
                }
                //$( '#cbp-contentslider' ).cbpContentSlider();
                
            }
        }
        function removeWatchingPeer(peers) {
            peers = [].concat(peers);
            for (var i = 0; i < peers.length; i++) {
                if (!peers[i]) {
                    return;
                }
                $('#peer-' + peers[i]).parent().parent().remove();
                $('#slide-' + peers[i]).remove();
                $('#'+peers[i]).remove();
            }
        }
        $('#sendbtn').click(function() {
            chat.send($('#msg').val(), toPeerId, false).then(function() {
                            // 这里是发送的消息append
                            $('#'+toPeerId).append('<li class="me">我说: '+$('#msg').val()+'</li>');
                            $('#msg').val('');

                        }, function(err) {
                            console.log(err)
                            alert("send failure!!!")
                        });
        });
    </script>
    
