<script src="js/chat.js"></script>
<div id='layout' >
<a href="#order-home" id="order-home" class="menu-link">HOME</a>
<a href="#order-list" id="order-list" class="menu-link">LIST</a>
    <div class='col-md-2 full-height'>
        <div class='full-height full-width'>
            <img class="img-circle own-avatar" alt="Tilo Mitra&#x27;s avatar" height="50" width="50" src='<%-user.avatarUrl %>'>
            <div id='user-title' class='title'>
                联系人
            </div>
            <div id='user-list' class='scrollable' >
            </div>
        </div>
    </div>   

    <div class='col-md-5 full-height'>
        <div class='full-height full-width'>
            <div id='to-peer-id' class='title'>

            </div>
            <div id='peer-box' class='scrollable' >
            </div>

            <div class='footer form'>
                <div class="pure-form" style='position:relative;'>
                    <input id="msg" class='chat-reply'></input>
                    <span class='chat-reply-btn'>
                        <button class='btn btn-secondary'  id="sendbtn">回复</button>
                    </span>
                </div>
            </div>

        </div>
    </div>


    <div class='col-md-5 full-height'>
        <div class='full-height full-width'>
            <div class='title'>
                订单信息
            </div>
            <div id='order' class='scrollable' >
            <!--
            <b class='banner pure-u-1'>车辆信息</b>
             <div class="pure-form pure-form-aligned zform">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">车辆</label>
                       <select id="car-ids">
                            <option>其他</option>
                        </select> 
                    </div> 

                    <div class="pure-control-group">
                        <label for="name">Username</label>
                        <input id="name" type="text" placeholder="Username">
                    </div>

                    <div class="pure-control-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" placeholder="Password">
                    </div>

                    <div class="pure-control-group">
                        <label for="email">Email Address</label>
                        <input id="email" type="email" placeholder="Email Address">
                    </div>

                    <div class="pure-control-group">
                        <label for="state">State</label>
                        <select id="state">
                            <option>AL</option>
                            <option>CA</option>
                            <option>IL</option>
                        </select>
                    </div>

                    <div class="pure-controls">
                        <button class="pure-button button-update"><i class="fa fa-pencil"> 更新</i></button>
                        <button class="pure-button button-delete"><i class="fa fa-trash-o"> 删除</i></button>
                    </div>
                </fieldset>
            </div>
            <b class='dark-banner pure-u-1'>选中</b>
            -->
        </div>
    </div>
</div>
</div>
<div class="clearfix"></div>
    <div id="test" class='center'>
    <div class="form-inline">
            <div class="form-group">
                <label for="">
                    新建聊天
                </label>
                <input type="text " id="watchingPeer" class="form-control">
            </div>
            <span id="connect-status" class="text-primary">
                not connected
            </span>
            <div class="btn-group">
                <button id="addwatch" class="btn btn-default">
                    watch
                </button>
            </div>
        </div>
    </div>

</div>
<!-- Template -->

    <div class="hide">
        <div id="user-tpl">
          <div id='user-@peerId@' class='user-item pure-g' data-peer-id='@peerId@'>
            <div class="item">
              <a href="#"  id="peer-@peerId@" onclick="addWatch('@peerId@');setSendTo('@peerId@');switchChatTo('@peerId@');">
                  <img class="img-circle avatar"  height="40" width="40" src='img/user1.png'>
                  <span class='name'>@peerId@</span>
              </a>
              <a class='removewatch' href='#' data-peer-id='@peerId@' onclick='removeWatch(this)'><i class='fa fa-remove'></i></a>
          </div>
      </div>
    </div>

    <div id="nav-tpl">
        <a href="#@peerId@" id="slide-@peerId@">@peerId@</a>    
    </div>

    <div id="msg-tpl">
        <ul id='@peerId@'>                      
        </ul>   
    </div>

    <div id="text-tpl">
        <li>
            @peerId@说: @content@
        </li>
        
    </div>

    <div id="image-tpl">
        <li>
            @peerId@说: <img src="@content@" alt="@peerId@" size='100'>
        </li>
    </div>

    <div id="voice-tpl">
        <li>
            @peerId@说: <video controls="" autoplay="" name="media">
            <source src="@content@" type="audio/mpeg"></video>   
            </li>
        </div>

    <div id='car-info-tpl'>
        <div class="pure-control-group">
            <p>{=make} {=series} {=model}</p>
            <p>{=volume}升 {=year}年款</p>
        </div>
    </div>

    <div id="car-option-tpl">
        <option value='{=objectId}'>{=make} {=series} {=model} {=volume}升</option>
    </div>

    <div id="car-tpl">
        <b class='banner pure-u-1'>车辆信息</b>
        <div class="pure-form pure-form-aligned zform">
            <fieldset>
                <div class="pure-control-group">
                    <label>车辆</label>
                    <select id="car-ids">
                        <option value=''>新增车辆…</option>
                    </select> 
                </div>
            </fieldset>
            <div id='car-info'>
            </div>
        </div>
    </div>

    <div id="car-form-tpl">
    <form id='car-form'>
        <div class="pure-control-group">
            <label>厂商</label>
            <input name='make' type="text">
        </div>
        <div class="pure-control-group">
        <label>车系</label>
            <input name='series' type="text">
        </div>
        <div class="pure-control-group">
            <label>型号</label>
            <input name='model' type="text">
        </div>
        <div class="pure-control-group">
            <label>排量</label>
            <input name='volume' type="text">
        </div>

        <div class="pure-control-group">
            <label>牌照</label>
            <input name='plate' type="text">
        </div>
        <div class="pure-control-group">
            <label>年份</label>
            <input name='year' type="number" min='1800'>
        </div>
        </form>
        <button id='save-car' class='btn btn-save'> 保存</button>
        <button id="cancel-car" class='btn btn-default'>取消</button>
    </div>
    </div>
<script>
    var customer = null;
    AV.$ = jQuery;
    AV.initialize( "eenezb2s4tnlbytmv8rt3ndrv4qiux13jg7s90n7ff72kvoa",
        "flo4ra0v81t51v0ug33pzwvm4xsclmgqo23fqht4iendgoio");
    var peerId = '<%-user.username%>';
    var watching = [];
    var toPeerId;

        // var watchingPeer = $('#watchingPeer').val().split(',');
        var chat;
        // ---------------- 基本初始化 打开关闭 ----------------
        $(function() {

            if($('#watchingPeer').val()!=""){
                watching = $('#watchingPeer').val().split(',');
            }
            chat = new AVChatClient({
                appId: appid,
                peerId: peerId,
                watchingPeerIds: watching
                // auth: auth
            });
            chat.on('close', function() {
                alert('connection closed')
                $('#connect-status').text('not connected');
                $('.online').removeClass('online').addClass('offline');
            });
            // --------------- chat 相关监听 ---------------
            chat.on('message', function(data) {
                addWatch(data.fromPeerId);
                if ($('to-peer-id').text() == ''){
                    $('to-peer-id').text(data.fromPeerId);
                }
                console.log(JSON.parse(data.msg));
                receive_msg = JSON.parse(data.msg);
                switch(receive_msg.InfoType) {
                    case "IMAGE":
                    str = $('#image-tpl').html().replace(/@peerId@/g, data.fromPeerId);
                    str2 = str.replace(/@content@/g, receive_msg.Content);
                    
                    break;

                    case "VOICE":
                    str = $('#voice-tpl').addClass('other').html().replace(/@peerId@/g, data.fromPeerId);
                    str2 = str.replace(/@content@/g, receive_msg.Content);
                    
                    break;

                    case "TEXT":
                    str = $('#text-tpl').addClass('other').html().replace(/@peerId@/g, data.fromPeerId);
                    str2 = str.replace(/@content@/g, receive_msg.Content);                    
                    break;
                }             
                $('#'+data.fromPeerId).append(str2);
                switchChatTo($('#to-peer-id').text());
            });
chat.on('online', function(peers) {
    for (var i = 0; i < peers.length; i++) {
        $('#peer-' + peers[i]).removeClass('offline');
        $('#peer-' + peers[i]).addClass('online');
    }
});
chat.on('offline', function(peers) {
    for (var i = 0; i < peers.length; i++) {
        $('#peer-' + peers[i]).removeClass('online');
        $('#peer-' + peers[i]).addClass('offline');
    }
});
openSocket();
});
        // --------------- 基础 ---------------
        function openSocket(){
            $('#user-list').empty();
            addWatchingPeer($('#watchingPeer').val().split(','));
            chat.open().then(function() {
                $('#connect-status').text('connected')
            }, function(err) {
                alert('open failure');
                console.log(err)
            });
        }
        function closeSocket() {
            chat.close().then(function() {
                $('#connect-status').text('not connected');
                $('.online').removeClass('online').addClass('offline');
            });
        }
        //---------------- 1 v 1 聊天相关 ----------------
        function addWatch(peerId){
            if (!_.contains(watching, peerId)){
                addWatchingPeer(peerId.split(','));
                chat.watch(peerId.split(',')).then(function() {
                }, function() {
                    alert('watch failure')
                });
            }
        }
        function removeWatch(target){
            var peerId = $(target).data('peer-id');
            peerId = [peerId];
            removeWatchingPeer(peerId);
            chat.unwatch(peerId);
            $('#user-'+peerId).remove();
            $('#'+peerId).remove();
            $('#to-peer-id').empty();
            if ($('#user-list .user-item-selected').length <= 0){
                var peerId = $('#user-list .user-item:first').data('peer-id');
                setSendTo(peerId);
            }
        }
        $('#addwatch').click(       
            function() {
                addWatch($('#watchingPeer').val());
            });

        function switchChatTo(peerId){
            if (peerId && peerId != ''){
                

                $('#peer-box > ul').each(function(){
                    $(this).addClass('hide');
                })
                $('#'+peerId).removeClass('hide');
            }
        }
        function addWatchingPeer(peers) {
            for (var i = 0; i < peers.length; i++) {
                if (!peers[i]) {
                    return;
                }
                var str = $('#user-tpl').html().replace(/@peerId@/g, peers[i]);
                var str3 = $('#msg-tpl').html().replace(/@peerId@/g, peers[i]);

                // $('#user-list').append(str);
                AV.Cloud.run("findUserByName", {username: peers[i]}, {
                    success: function(data){
                        $('#user-list').append(str);
                        if(data.hasOwnProperty('username')){
                            $('#user-' + data.username +'> div > a > img').attr("src",data.avatarUrl);
                        }
                    },
                    error: function(err){
                        console.log('oops, there is something wrong.');
                    }
                });
                $('#peer-box').append(str3);
                if ($('#user-list .user-item').length <= 1) {
                    setSendTo(peers[i])
                }
                
            }
        }
        function removeWatchingPeer(peers) {
            peers = [].concat(peers);
            for (var i = 0; i < peers.length; i++) {
                if (!peers[i]) {
                    return;
                }
                $('#peer-' + peers[i]).parent().parent().remove();
                $('#slide-' + peers[i]).remove();
                $('#'+peers[i]).remove();
            }
        }
        $('#sendbtn').click(function() {
            origin_msg = $('#msg').val();
            send_msg = {
                "Content": origin_msg,
                "InfoType":"TEXT"
            }

            console.log(JSON.stringify(send_msg));
            chat.send(  JSON.stringify(send_msg), toPeerId, false).then(function() {
                            // 这里是发送的消息append
                            str = $('#text-tpl').html();
                            console.log(str);
                            str2 = str.replace(/@content@/g,origin_msg);
                            $('#'+toPeerId).append(str2);
                            $('#msg').val('');

                        }, function(err) {
                            console.log(err)
                            alert("send failure!!!")
                        });
        });
    </script>
    
