<style type="text/css">
#layout{
    height:90%;
}
    .mid-wrapper{
        display:table;
        height:50px;
    }
    li.new-order{
        background:#fff100;
    }
    li.new-order i{
        color:#fff100;
    }
    li.selected{
        background:#eee;
    }
    li.selected i{
        color:#eee;
    }
    .mid-cell{
        display:table-cell;
        vertical-align: middle;
        text-align: right;
    }
    .btn-cancel i{
        color:white;
    }
    .show-order i{
        margin:auto auto;
        font-size:16px;
        color:white;
    }
    #pkg-list{
        padding:0;
    }
    #pkg-list, #promotion-list{
        padding-top:20px;
        padding-bottom:20px;
    }
    #promotion-list img.promo{
        width:400px;
        margin:5px;
        margin-top:15px;
    }
    .pure-control-group{
        margin-top:8px;
    }
    input[name=title]{
        width:200px;
    }
    #upload-wrapper input{
        display:inline-block;
    }
</style>
<div id='layout'>
    <div class='col-md-2 col-md-offset-1 full-height'>
        <div class='full-height full-width'>
            <div class='title'>
            <span id='list-title' style='font-size:14px; padding:10px; font-weight: bold; color:white;'></span>  
        </div>

        <div class='pure-form pure-form-aligned full-height'>
            <div id='order-list' class='scrollable full-height'>
             <div class='menu-item'>
                <i class='fa fa-car'>
                    <a href='/orders' target='_blank'>订单管理</a>
                </i>
            </div> 
            <div id='packages-item' class='menu-item '>
                <i class='fa fa-database'>
                    <a href='#packages'>套餐管理</a>
                </i>
            </div>
            <div id='promotions-item' class='menu-item'>
                <i class='fa fa-camera-retro'>
                    <a href='#promotions'>活动图片</a>
                </i>
            </div>
            <div class='menu-item'>
                <i class='fa fa-check-square-o'>
                    <a href='/man'>体检单管理</a>
                </i>
            </div>

        </div>
    </div>
</div>
    </div>

    <div id='right' class='full-height'></div>
</div>

<!-- Template -->
<script type="text/template" id='promotion-tpl'>
    <div class="col-md-8 full-height">
        <div class="full-height full-width">
            <div class='title'>活动图片
            <i class='fa fa-plus btn-new pull-right white'></i></div>
            <div id='promotion-list' class='scrollable full-height'>
            </div>

        </div>
    </div>
</script>

<script type="text/template" id='promotion-item-tpl'>
    <div class='pure-control-group' >
    <img src='{=activity_pic.url}' class='pure-image promo'/>
    <button class='btn btn-default btn-remove' >删除</button>
    </div>
</script>

<script type="text/template" id='pkg-tpl'>
    <div class="col-md-8 full-height">
        <div class="full-height full-width">
            <div class='title'> 套餐管理
            <i class='pull-right fa fa-plus btn-new white'></i>
            </div>
            <div id='pkg-list' class='scrollable full-height' style='text-align:left;padding:0'>
            </div>

        </div>
    </div>
</script>

<script type="text/template" id='pkg-item-tpl'>
    <div class='pure-control-group user-item' style='padding-left:30px;padding-right:30px;'>
        <label>名称</label>
        <input type='text' name='title' value='{=title}'>
        <label style='margin-left:20px;'>金额</label>
        <input type='number' name='price' value='{=price}'>
        <button class='btn btn-warning btn-save  pull-right'>保存</button>
    </div>
</script>

<script type="text/template" id='pkg-item-show-tpl'>
    <div class='pure-control-group user-item' style='padding-left:30px;padding-right:30px;'>
        <span>{=title}</span> 
        <span> ({=price} 元)</span> 
        <button class='btn btn-default btn-edit pull-right'>编辑</button>
        {if (!deleted) }
        <button class='btn btn-default btn-remove pull-right'>删除</button>
        <div class='clearfix'></div>

        {if (deleted)}
        <button class='btn btn-default btn-restore pull-right'>恢复</button>
        <div class='clearfix'></div>
    </div>
</script>

<script type="text/template" id='promotion-new-tpl'>
<div id='upload-wrapper'>
    <input type="file" id="fileUpload"><button class='btn btn-warning btn-save'>保存</button>
    </div>
</script>

<script>
    function fillInDefaults(order){
        var json = order.toJSON();
        if (order.get('car'))
            json.car = order.get('car').toJSON();
        else
            json.car = {}

        if (order.get('address'))
            json.address = order.get('address').toJSON();
        else
            json.address = {}

        if (order.get('package'))
            json.pkg = order.get('package').toJSON();
        else
            json.pkg = {}

        if (order.get('user'))
            json.user = order.get('user').toJSON();
        if (order.get('operator'))
            json.operator = order.get('operator').toJSON();
        else
            json.operator = {}

        if (order.get('salesman'))
            json.salesman = order.get('salesman').toJSON();
        else
            json.salesman = {}

        if (order.get('store'))
            json.store = order.get('store').toJSON();
        else
            json.store = {} 
        return json;
    }

    $(function(){

/**
 * underscore template settings
 */
 _.templateSettings = {
    evaluate    : /{([\s\S]+?)}/g,
    interpolate : /{=([\s\S]+?)}/g,
    escape      : /{-([\s\S]+?)}/g
};
    AV.$ = jQuery;
    hintAudio = document.createElement('audio');
    hintAudio.setAttribute('src', '/audio/hint.mp3');
        //audioElement.load()
    var appid ="za9bsa07s9lwzxl6t1sp9ft3fi5ypo0d47ylo1f5bnze0m34" ;
    var appkey =  "0efztvcng6f5klnksu9syv4o55py3z9pypppjzxuzuwwqmtb";
    AV.initialize( appid,appkey);

var Package = AV.Object.extend("Package", {defaults:{
    title:'',
    price: 0,
    deleted:false
} });

var PackageList = AV.Collection.extend({ model:Package })

var PackageItemView = AV.View.extend({
    el:'<div class="pure-form"></div>',
    template: _.template($('#pkg-item-show-tpl').html()),
    editTemplate: _.template($('#pkg-item-tpl').html()),
    events:{
        'click .btn-save':'save',
        'click .btn-remove':'remove',
        'click .btn-restore':'restore',
        'click .btn-edit':'edit'
    },
    initialize:function(options){
        _.bindAll(this, 'render');
    },
    remove:function(elem){
        this.model.set('deleted', true);
        this.model.save();
        this.render();
    },
    save:function(){
        this.model.set('title', this.$('input[name=title]').val());
        this.model.set('price', parseFloat(this.$('input[name=price]').val()));
        this.model.save();
        this.render();
    },
    edit:function(){
        this.$el.html(this.editTemplate(this.model.toJSON()));
    },
    restore:function(elem){
        this.model.set('deleted',false);
        this.model.save();
        this.render();
    },
    render:function(){
        this.$el.html(this.template(this.model.toJSON()));
    }
});

var PackageView = AV.View.extend({
    el:'<div class="full-height"></div>',
    template:_.template($('#pkg-tpl').html()),
    events:{
        'click .btn-new':'newPackage'
    },
    newPackage:function(){
        var pkg = new Package();
        var item = new PackageItemView({model: pkg})
        item.edit();
        this.$('#pkg-list').prepend(item.el);
    },
    initialize:function(argument) {
        this.pkgList = new PackageList;
        _.bindAll(this, 'reset');
        this.pkgList.query = new AV.Query(Package);
        this.pkgList.bind('reset', this.reset);
    },
    render:function(){
        console.log('pkg render');
        this.$el.html("");
        this.$el.html(this.template());
        this.pkgList.fetch();
        //this.delegateEvents();
    },
    reset:function(pkgs){
        _.each(pkgs.models, this.append);
        console.log(this.el);
    },
    append:function(pkg){
        console.log(pkg);
        var item = new PackageItemView({model: pkg});
        item.render();
        this.$('#pkg-list').append(item.el);
    }
});

var Promotion = AV.Object.extend("Promotion", {defaults:{} });

var PromotionList = AV.Collection.extend({ model:Promotion })

var PromotionItemView = AV.View.extend({
    el:'',
    template: _.template($('#promotion-item-tpl').html()),
    events:{
        'click .btn-remove':'remove'
    },
    initialize:function(options){
        _.bindAll(this, 'render');
    },
    remove:function(elem){
        // this.model.get('activity_pic').destroy();
        this.model.destroy();
        this.$el.html('');
    },
    render:function(){
        this.$el.html(this.template(this.model.toJSON()));
    }
});

var PromotionView = AV.View.extend({
    el:'<div class="full-height"></div>',
    template:_.template($('#promotion-tpl').html()),
    events:{
        'click .btn-new':'new',
        'click .btn-save':'create'
    },
    new:function(){
        var newTpl = _.template($('#promotion-new-tpl').html());
        this.$('#promotion-list').prepend(newTpl());
    },
    initialize:function(argument) {
        this.list = new PromotionList;
        _.bindAll(this, 'reset');
        this.list.query = new AV.Query(Promotion);
        this.list.query.descending('updatedAt');
        this.list.bind('reset', this.reset);
    },
    render:function(){
        console.log('promo render');
        this.$el.html(this.template());
        this.list.fetch();
        //this.delegateEvents();
    },
    reset:function(promos){
        this.$el.html();
        _.each(promos.models, this.append);
        console.log(this.el);
    },
    create:function(){
        var control = $('#fileUpload')[0];
        if (control.files.length > 0){
            var file = control.files[0];
            var name = file.name;

            var avFile = new AV.File(name, file);
            var pro = new Promotion({
                activity_pic: avFile
            });
            $('#upload-wrapper').html('<img src="/img/waiting.gif" class="pure-image" style="width:50px;"/> uploading ...');
            pro.save().then(function(promo){
                $('#upload-wrapper').remove();
                console.log('upload success');
                var item = new PromotionItemView({model: promo});
                item.render();
                $('#promotion-list').prepend(item.el);
            });
        }
    },
    append:function(promo){
        console.log(promo);
        var item = new PromotionItemView({model: promo});
        item.render();
        this.$('#promotion-list').append(item.el);
    }
});


    var DataRouter = AV.Router.extend({
    routes:{
        "packages":"packages",
        "promotions":"promotions"
    },
    currentView:null,
    initialize:function(el){
        this.el = el;
        // this.packages();
    },
    packages:function(){
        this.pkgView = new PackageView();
        this.pkgView.render();
        console.log(this.pkgView.el);
        $('#right').html(this.pkgView.el);
        $('.menu-item.selected').removeClass('selected');
        $('#packages-item').addClass('selected');

    },
    promotions:function(){
        this.promoView = new PromotionView();
        this.promoView.render();
        console.log(this.promoView.el);
        $('#right').html(this.promoView.el);
        $('.menu-item.selected').removeClass('selected');
        $('#promotions-item').addClass('selected');
    }
});

var router= new DataRouter();
AV.history.start();
router.packages();
});
</script>