<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="汽车 养护 上门服务">
    <meta name="author" content="布拿拿&西蒙">

    <title>宅车宝</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/cover.css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <script src="lib/chat.js"> </script>
    <script src="https://cn.avoscloud.com/scripts/lib/av-0.4.1.min.js"> </script>
    <script src="http://cdn.bootcss.com/underscore.js/1.7.0/underscore-min.js"></script>
<!--[if lte IE 9]
<script src="/lib/flash/swfobject.js"></script>
<script src="/lib/flash/web_socket.js"></script>
<![endif]-->

<!--[if lt IE 9]
<script src="/lib/es5-shim"></script>
<![endif]-->
    <script>
  WEB_SOCKET_SWF_LOCATION = "/lib/flash/WebSocketMain.swf";//用于兼容ie9以及不支持websocket的浏览器
  var appid = 'eenezb2s4tnlbytmv8rt3ndrv4qiux13jg7s90n7ff72kvoa';
  </script>
</head>
