<style>
html,body{
	height:100%;
	width:100%;
	background-image: url('img/bg.jpg');
	background-repeat: repeat;
}
body{
    padding-bottom: 50px;
}
body,div,pre,h1,h2,h3,h4,h5,h6{
	font-family: "微软雅黑","Microsoft YaHei", sans-serif, serif;
	color:white;
}
h5{
	font-size:20px;
}
#bar{
	margin-top:3%;
}
#btns{
	margin-top:2%;
}
#logo{
	margin-top:6%;
}
.btn{
	background:#1c1311;
	color:#544343;
	font-size:18px;
	margin:0 30px 0 30px;
	padding:5px 30px 5px 30px;
	border-radius:50px;
	border:10px solid rgba(255, 255, 255, 0.1);
}

.btn b, .btn i{
	vertical-align: middle;
	height: 50px;
	line-height: 50px;
}
.btn i.fa{
	font-size:50px;
	margin-right:20px;
}

.btn.active{
	background:#fff100;
	color:#1c1311;
	border:10px solid rgba(0,0,0,0.2);
}

.center{
	margin:0 auto;
	text-align: center;
	img,div{
		margin:0 auto;
	}
}

@media screen and (max-width:767px){
    .btn i.fa{
        font-size:40px;
        margin-right:20px;
    }
    .btn{
        display:block;
        margin:20px auto;
    }
    #logo{
        margin-top:30px;
    }
    #btns{
        margin-top:20px;
    }
    #bar{
        margin-top:20px;
    }
    h5{
        margin:10px;
    }

}

@media screen and (min-width:768px) {
    h5{
        margin:20px;
    }
    #btns{
        margin-top:30px;
    }
    .btn{
        margin:0 5px 0 5px;
    }
    #logo{
        margin-top:7%;
    }
}

</style>
<div id='bar' class='pure-u-1 center'>
 <h5>扫描二维码下载</h5>
 <img src='img/bar.jpg' class='pure-image pure-u-14-24 pure-u-md-8-24 pure-u-lg-5-24'>
</div>

<div id='btns' class="pure-u-1 center">
   <button class="btn pure-u-18-24 pure-u-md-8-24 pure-u-lg-6-24"><i class='fa fa-android'></i><b>Android 下载</b></button>
   <button class="btn pure-u-18-24 pure-u-md-8-24 pure-u-lg-6-24 active"><i class="fa fa-apple"></i><b>iOS 下载</b></button>
</div>	

<div id='logo' class="pure-u-1 center">
   <img src="img/service-logo.png" class='pure-image pure-u-20-24 pure-u-md-10-24 pure-u-lg-7-24'>
</div>

