<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<% include index-head %>
<body class='pure-g'>
	<%-body %>
	<footer class="mastfoot">
		<div class="inner">
			<p>Powered By <a href="http://eurus.cn">风豪科技</a></p>
		</div>
	</footer>
</body>
</html>
