<!DOCTYPE html>
<html>
    <% include head %></%- %>
    <body>

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Cover</h3>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">首页</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#csModal">客服登录</a></li>
                                <!-- <li><a href="#">Contact</a></li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="inner cover">
                        <%- body %></%- %>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <p>Cook by <a href="http://banana.eurus.cn">bunana</a>.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </body>
</html>
