<script src="js/manuser.js"></script>
<style type="text/css">
	#layout{
		height:90%;
	}

	</style>
<div id='layout'>
	<div class='col-md-6 col-md-offset-3 full-height'>
		<div class='full-height full-width'>
			<div id='user-title' class='title'>
				客服管理
				<i class="fa fa-plus add white pull-right" style='margin-right:10px;'></i>	
			</div>

			<div class='pure-form pure-form-aligned full-height'>
				<div id='order-list' class='scrollable full-height'>
				
				</div>
			</div>
		</div>
	</div>


</div>
