
<style>
i,b{
    color:#544343;
}
#admin-logo{
    margin-top:35%;
}
#login-form{
    margin-top:12%;
}

.input-group{
    margin-top:15px;
}
#controls, #submit-btn{
    margin-top:20px;
}
</style>
<div id='container' class='center pure-u-19-24 pure-u-md-9-24 pure-u-lg-6-24'>
<div id="admin-logo" class='pure-u-1 center'>
    <img src="img/logo.png" class='pure-image pure-u-1'>
</div>

<!-- Modal -->
<div id='login-form' class='pure-u-1 center'>
        
    <form class='zform' role="form" action='/login' method='post'>
        <p class='form-title mb-10'>后台管理系统登录</p>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                <input name='user[username]' type="text" placeholder="输入账户名" required class='form-control' autofocus>
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="fa fa-unlock-alt"></i>
                </span>
                <input name='user[password]' type="password" class='form-control' placeholder="输入密码" required>
                <input type='hidden' name='url' value='<%=url%>'>
            </div>
            <div id='controls'>
            <div class="checkbox pull-left">
                <label class='white'>
                    <input type="checkbox" value="remember-me">记住我
                </label>
            </div>
            <div class='mt-10 pull-right'>
                <a href="#" class='yellow'>忘记密码</a>
            </div>
            <div class="clearfix"></div>
            </div>
            <div id='submit-btn'>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
            </div>
    </form>
</div>

</div>


