html,body{
	height:100%;
	width:100%;
    margin: 0;
    overflow: hidden;
	background-image: url('../img/bg.jpg');
	background-repeat: repeat;

}
body,div,p,input,textarea,select,a,h1,h2,h3,h4,h5,h6,span,b,i{
	color:#1c1311;
	font-family: "微软雅黑", "Microsoft YaHei", sans-serif, serif;
	font-size:12px;
	letter-spacing: 1px;
}
body{
    padding-bottom: 50px;
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*----------------------------------------------------
 * 					PURE OVERRIDES
 *----------------------------------------------------*/
 /* Over-riding some of the .pure-button styles to make my buttons look unique*/

 .btn-secondary {
    background: #493c39;
    color: white;
    padding: 6px 20px;
    border-radius:20px;

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #554845, #3c2f2c);
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(top, #554845, #3c2f2c);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #554845, #3c2f2c);
    border-top:1px solid #6c625f;
}
.btn-secondary:hover{
	color:#adacac;
	background:#322624;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #322624, #322624);
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(top, #322624, #443836);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #322624, #443836);
}

.btn-third {
	background: white;
	padding:6px 20px;
	color: #666;
	border: 1px solid #ddd;
	border-radius:20px;
}

.btn-third:hover{
	color:#adacac;
	background:#eee;
}

/* form */
.pure-form fieldset {
	padding:0;
}
.pure-form-aligned .pure-control-group {
	margin-bottom: 0;
	padding:6px;
	padding-right:10px;
	border-bottom:1px solid #d4d3d3;
	position: relative;
}
.pure-form fieldset{
	text-align: left;
}
.zform{
	padding-bottom:10px;
}
.zform .pure-control-group{
	border:1px solid white;
}
.pure-form-aligned .pure-control-group label{
	width:10em;
}
.pure-form-aligned .pure-control-group label:after{
	content: ":";
}
.pure-form-aligned .pure-control-group input {
	width:60%;
	margin:5px;
}
.pure-form-aligned .pure-control-group select{
	margin:5px;
	width:auto;
}
.pure-form-aligned .pure-control-group button{
	position: absolute;
	top:10px;
	right:15px;
	padding:0;
	border:none;
	background:white;
	font-weight: bold;
	text-align: right;
}

/*----------------------------------------------------
 * 					GLOBALS
 *----------------------------------------------------*/
 footer{
 	width:100%;
 	text-align: center;
 }

 .center{
	margin:0 auto;
	text-align: center;
	img,div{
		margin:0 auto;
	}
}

/*----------------------------------------------------
 * 					  FORMS
 *----------------------------------------------------*/
.zform .form-title{
	color:#fff100;
	font-size:18px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.input-group-addon{
	background-color:white;
}
.input-group-addon i{
	color:#bcbcbc;
	font-size:20px;
}
.btn-important {
	border-radius:20px;
	font-weight:bold;
	letter-spacing: 1px;
	padding:6px 20px;
	color:white;
	background: rgb(223, 117, 20);
}

.btn-important:hover{
	color:#eee;
	background: rgb(240,120,20);
	border:1px solid rgb(202, 60, 60);
}
.btn-primary{
	background: #fff100;
	color:#1c1311;
	font-size:18px;
	letter-spacing: 2px;
	font-family: "微软雅黑", "Microsoft YaHei", sans-serif, serif;
	border:1px solid #fff100;
	border-top:1px solid #fffb90;
}
.btn.btn-primary:hover{
	border:1px solid #1c1311;
	box-shadow: 0 0 8px rgba(198,190,28,1);
	-webkit-box-shadow: 0 0 8px rgba(198,190,28,1);
	-moz-box-shadow: 0 0 8px rgba(198,190,28,1);
	background: #decc00;
	color:#1c1311;
}

input.form-control:focus, .pure-form input[type=text]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, select:focus{
	border:1px solid #fff100;
	box-shadow: 0 0 8px rgba(198,190,28,1);
	-webkit-box-shadow: 0 0 8px rgba(198,190,28,1);
	-moz-box-shadow: 0 0 8px rgba(198,190,28,1);

}

.input-group-lg>.form-control{
	font-size:16px;
}
/*----------------------------------------------------
 * 					  COLORS
 *----------------------------------------------------*/

.white{
	color:white;
}

.yellow{
	color:#fff100;
}

.light-yellow{
	color:#fffb90;
}
.grey{
	color:#bcbcbc;
}

.light-dark{
	color:#443836;
}
.dark{
	color:#342926;
}

.mt-10{
	margin-top: 10px;
}
.mb-10{
	margin-bottom: 10px;
}

/*----------------------------------------------------
 * 					  ORDER
 *----------------------------------------------------*/

.scrollable .banner{
	width:100%;
	padding:6px;	
	position: relative;
	margin-bottom:5px;
	background:#efefef;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #efefef, #e4e3e2);
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(top, #efefef, #e4e3e2);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #efefef, #e4e3e2);
    font-size:16px;
    font-weight: normal;
   	border-bottom: 1px solid #d4d3d3; 
   	border-top: 1px solid #d4d3d3; 
}

.scrollable .banner .actions{
	position: absolute;
	right:20px;
	width:20px;
	top:2px;
}
.scrollable .banner .actions .btn{
	border:none;
	background:none;
}
.scrollable .banner:hover{
	text-decoration: none;
	a{
		text-decoration: none;
	}
}

.scrollable .dark-banner{
	width:100%;
	padding:6px;
	color:white;
	background:#9b9593;
	font-size:16px;
    font-weight: normal;

    box-shadow: 0px 0px -5px #8e8684;
    border-top:1px solid #89817f;
    border-bottom:1px solid #89817f;
}


/*-----------------------------------------------------
 				 THE SPEECH BUBBLE
------------------------------------------------------- */

.triangle-isosceles {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  border-radius:5px;
  background:#f3961c; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff9b2), to(#f7e902));
  background:-moz-linear-gradient(#fff9b2, #f7e902);
  background:-o-linear-gradient(#fff9b2, #f7e902);
  background:linear-gradient(#fff9b2, #f7e902);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* Variant : for left/right positioned triangle
------------------------------------------ */

.triangle-isosceles.left {
  margin-left:50px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-isosceles.right {
  margin-right:50px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

/* creates triangle */
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#f3961c transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}



/* Variant : left
------------------------------------------ */

.triangle-isosceles.left:after {
  top:16px; /* controls vertical position */
  left:-50px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:10px 50px 10px 0;
  border-color:transparent #f3961c;
}

/* Variant : right
------------------------------------------ */

.triangle-isosceles.right:after {
  top:16px; /* controls vertical position */
  right:-20px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  left:auto;
  border-width:10px 0 10px 20px;
  border-color:transparent #f3961c;
}

/*----------------------------------------------------
					YELLOW FADE
----------------------------------------------------*/

.yfade{
    -webkit-animation:yellow-fade 3s;
       -moz-animation:yellow-fade 3s;
            animation:yellow-fade 3s;
}

@-webkit-keyframes yellow-fade{
    5%{ background-color:#ff8; }
}

@-moz-keyframes yellow-fade{
    5%{ background-color:#ff8; }
}

@keyframes yellow-fade{
    5%{ background-color:#ff8; }
}
