#layout{
    margin:0 auto;
    width:95%;
    margin-top:5%;
    height:80%;
}

#test{
    margin-top:5%;
    width:100%;
    height:10%;
}


.full-height{
    height:100%;
}

.full-width{
    position: relative;
    width:100%;
}

.scrollable {
    overflow-y: auto; 
    border:1px solid #ddd;
    border-radius:0 0 4px 4px;
    height:100%;
    text-align: center;
    background:white;
}
.title{
    position: relative;
    top:0;
    height:40px;
    width:100%;
    font-size:14px;
    padding:10px;
    font-weight: bold;
    color:white;
    text-align: center;
    vertical-align: middle;
    background: #f8f8f8;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #453936, #322624);
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(top, #453936, #322624);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #453936, #322624);
    border-top:1px solid #6c625f;
    border-radius:4px 4px 0 0;
    /*overflow: auto;*/
}
.title .dropdown-menu{
    min-width:0;
}
.own-avatar{
    position: absolute;
    top:-20px;
    left:5px;
    z-index:999;
    border:2px solid white;

}
.full-width .footer.form{
    position: absolute;
    bottom:-40px;
    height:55px;
    left:0;
    width:100%;
    border-top:1px solid #a3a09f;
    padding:10px;
    background:white;
    z-index:1000;
}

.pure-form input.chat-reply{
    display:inline-block;
    height:34px;
    border-radius:20px;
    width:80%;
    padding:2px;
    padding-left:15px;
}

.chat-reply-btn{
    width:20%;

}

/* User Item Styles */
.user-title{
   background:; 
}
.user-profile{
    position: relative;
    text-align: center;
    border-bottom: 1px solid #ddd;
    height:48px;
    box-shadow: 0 1px 0 solid #333;

    color:#eee;
    letter-spacing: 1px;
        border-bottom: 1px solid #cc5a18;
}
.user-profile .avatar{
    position: absolute;
    top:4px;
    width:40px;
    height:40px;
    margin-left:15px;
    z-index:99;
    border:2px solid #eee;
}
.user-profile .name{
    margin-left:45px;
    margin-top:15px;
    display: inline-block;
    font-size:14px;
}
.user-item {
    padding: 8px;
    padding-right:0;
    padding-left:0;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;

}
.user-item .avatar:hover{
    cursor:pointer;
}
.user-item a{
    text-decoration: none;
}
.user-item .item{
    position: relative;
    padding-right:12px;
    width:100%;
    text-align: left;
}
.user-item .item .removewatch{
    position: absolute;
    top:14px;
    right:4px;
    font-size:13px;
}
.user-item .item .removewatch i{
    color:transparent;
}
.user-item:hover .removewatch i{
    color:black;
}
#peer-box{
    background:#f6f6f6;
    margin-bottom:55px;
}
#peer-box ul{
    width:100%;
    padding:0 15px ;
    margin-bottom:55px;
    list-style: none;
}
#peer-box ul li{
}
#peer-box ul li.me{
    text-align: right;
}
#peer-box ul li.other{
    text-align: left;
}

#user-title{
    padding-left:50px;
}
#user-title.title{
    padding-right:0;
}
.user-item .avatar {
    margin:0 auto;
    border:1px solid white;

}
.user-item .name {
    margin: 0;
    margin-top:8px;
    margin-left:8px;
    letter-spacing: normal;
    color: #999;
}
.user-item.user-item-selected {
    background: #9e9896;

}
.user-item.user-item-selected div, .user-item.user-item-selected a, .user-item.user-item-selected span{
    color:white;
}
.user-item.user-item-unread {
    border-left: 6px solid #1b98f8;
}


/* chat */
.msg{
    width:100%;
    position: relative;
    min-height: 40px;
    margin-top:5px;
    padding:4px;
}
.msg.to-me{
    padding-left:60px;
    text-align: left;
}
.msg.from-me{
    padding-right:60px;
    text-align:right;
}
.msg .avatar{
    position: absolute;
    top:0px;
    width:40px;
    height:40px;
    border-radius: 20px;
    border:1px solid grey;
}
.msg-text span{
    padding:6px 10px;
    display:inline-block;
    border-radius:4px;
}
.msg.from-me div.arrow{
    position: absolute;
    right: -11px;
    top: 11px;
    width: 13px;
    height: 24px;
    background: url(../img/right-green-arrow.png) no-repeat;
    z-index:99;
}

.msg.to-me div.arrow{
    position: absolute;
    left: -7px;
    top: 11px;
    width: 13px;
    height: 24px;
    background: url(../img/left-gray-arrow.png) no-repeat;
    z-index:999;
}
.msg.to-me span{
    padding: 5px 13px\9;
    padding: 7px 10px;
    color: #030303;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    background-color: #ECECEC\9;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e5e5e5), color-stop(0.1, #f3f3f3), color-stop(0.3, #f1f1f1), color-stop(0.5, #ececec), color-stop(0.7, #e9e9e9), color-stop(0.9, #e6e6e6), color-stop(1, #e5e5e5));
    background-image: -moz-linear-gradient(top, #f3f3f3 10%, #f1f1f1 30%, #ececec 50%, #e9e9e9 70%, #e6e6e6 90%, #e5e5e5 100%);
}
.msg.to-me span.msg-body{
    padding:0;
    border: 1px solid #AFAFAF;
    box-shadow: 0px 1px 0px #D5D5D5;
    border: 1px solid #9f9f9f\9;
    border-radius: 6px\9;
    background-color: #ECECEC;
}
.msg .msg-content{
    position: relative;
}
.msg.from-me span{
    border-top: 1px solid #DCE6C8;
    border-bottom: 1px solid #B9CF8B;
    border-left: 1px solid #CCDEA3;
    padding: 13px\9;
    padding: 7px 10px;
    border-radius: 13px\9;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: hidden;
    color: #000;
    text-shadow: none;
    background: #B2CF73\9;
    box-shadow: 0px 1px 0px #D5D5D5;
    background: -webkit-gradient(linear, left top, left bottom, from(#cdeb96), to(#a4c363), color-stop(0.1, #b4d174), color-stop(0.3, #b2cf73), color-stop(0.5, #afcc74), color-stop(0.7, #abca6c), color-stop(0.9, #a9c572), color-stop(1, #a4c363));
    background-image: -moz-linear-gradient(top, #b4d174 10%, #b2cf73 30%, #afcc74 50%, #abca6c 70%, #a9c572 90%, #a4c363 100%); 
}
.msg.from-me span.msg-body{
    padding:0;
    border: 1px solid #7AA23F;
    box-shadow: 0px 1px 0px #D5D5D5;
    border: 1px solid #9f9f9f\9;
    background-color: #B2CF73;
}
.msg.to-me .avatar{
    left:0px;
}
.msg.from-me .avatar{
    right:0px;
}
.msg-image .image{
    width:200px;
}

#order-list{
    padding-left:0;
}
#order-list li{
    list-style: none;
}

/*------------------------------------------
AUDIO JS
------------------------------------------*/
.audiojs{
    width:60%;

    border-radius:20px;
}
.audiojs .scrubber{
    border-radius:5px;
    width:44%;
}
.audiojs .play-pause{
    width:40px;
}