#layout{
    margin:0 auto;
    width:85%;
    margin-top:5%;
    height:80%;
}

#test{
    margin-top:5%;
    width:100%;
    height:10%;
}


.full-height{
    height:100%;
}

.full-width{
    position: relative;
    width:100%;
}

.scrollable {
    overflow-y: auto; 
    border:1px solid #ddd;
    border-radius:0 0 4px 4px;
    height:100%;
    text-align: center;
    background:white;
}
.title{
    position: relative;
    top:0;
    height:40px;
    width:100%;
    font-size:14px;
    padding:10px;
    font-weight: bold;
    color:white;
    text-align: center;
    vertical-align: middle;
    background: #f8f8f8;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #453936, #322624);
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(top, #453936, #322624);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #453936, #322624);
    border-top:1px solid #6c625f;
    border-radius:4px 4px 0 0;
    /*overflow: auto;*/
}
.own-avatar{
    position: absolute;
    top:-20px;
    left:10px;
    z-index:999;
    border:2px solid white;

}
.full-width .footer.form{
    position: absolute;
    bottom:-40px;
    height:55px;
    left:0;
    width:100%;
    border-top:1px solid #a3a09f;
    padding:10px;
}

.pure-form input.chat-reply{
    display:inline-block;
    height:34px;
    border-radius:20px;
    width:80%;
    padding:2px;
}

.chat-reply-btn{
    width:20%;
    padding-left:10px;

}

/* User Item Styles */
.user-title{
   background:; 
}
.user-profile{
    position: relative;
    text-align: center;
    border-bottom: 1px solid #ddd;
    height:48px;
    box-shadow: 0 1px 0 solid #333;

    color:#eee;
    letter-spacing: 1px;
        border-bottom: 1px solid #cc5a18;
}
.user-profile .avatar{
    position: absolute;
    top:4px;
    width:40px;
    height:40px;
    margin-left:15px;
    z-index:99;
    border:2px solid #eee;
}
.user-profile .name{
    margin-left:45px;
    margin-top:15px;
    display: inline-block;
    font-size:14px;
}
.user-item {
    padding: 8px;
    padding-right:0;
    padding-left:0;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
.user-item a{
    text-decoration: none;
}
.user-item .item{
    position: relative;
    padding-right:12px;
    width:100%;
    text-align: left;
}
.user-item .item .removewatch{
    position: absolute;
    top:14px;
    right:4px;
    font-size:13px;
}
#peer-box{
    background:#f6f6f6;
}
#peer-box ul{
    width:100%;
    height:100%;
    padding:10px 15px 0 15px;
    list-style: none;
}
#peer-box ul li{
}
#peer-box ul li.me{
    text-align: right;
}
#peer-box ul li.other{
    text-align: left;
}

#user-title{
    padding-left:25px;
}
.user-item .avatar {
    margin:0 auto;
    border:1px solid white;

}
.user-item .name {
    margin: 0;
    margin-top:8px;
    margin-left:8px;
    letter-spacing: normal;
    color: #999;
}
.user-item.user-item-selected {
    background: #9e9896;

}
.user-item.user-item-selected div, .user-item.user-item-selected a, .user-item.user-item-selected span{
    color:white;
}
.user-item.user-item-unread {
    border-left: 6px solid #1b98f8;
}

