body, html {
    margin: 0;
    overflow: hidden;
    height:100%;
}

#layout{
    margin-left:3%;
    width:85%;
    margin-top:5%;
    height:90%;
}

.full-height{
    height:100%;
}

.full-width{
    position: relative;
    width:100%;
}

.scrollable {
    overflow-y: auto; 
    padding-top:40px;
    border:1px solid #ddd;
    border-radius:4px;
    height:100%;
    text-align: center;
}
.title{
    position: absolute;
    top:0;
    height:40px;
    width:100%;
    padding:10px;
    font-weight: bold;
    text-align: center;
    background: #f8f8f8;
    border:1px solid #ddd;
    border-radius:4px 4px 0 0;
}
.full-width .footer.form{
    position: absolute;
    bottom:0;
    width:100%;
}
textarea.chat-reply{
    display:inline-block;
    height:100px;
    width:100%;
}

/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
 .primary-button,
 .secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

/* User Item Styles */
.user-title{
   background:; 
}
.user-profile{
    position: relative;
    text-align: center;
    border-bottom: 1px solid #ddd;
    height:48px;
    box-shadow: 0 1px 0 solid #333;

    color:#eee;
    letter-spacing: 1px;
        border-bottom: 1px solid #cc5a18;
}
.user-profile .avatar{
    position: absolute;
    top:4px;
    width:40px;
    height:40px;
    margin-left:15px;
    z-index:99;
    border:2px solid #eee;
}
.user-profile .name{
    margin-left:45px;
    margin-top:15px;
    display: inline-block;
    font-size:14px;
}
.user-item {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
.user-item a{
    text-decoration: none;
}
.user-item .item{

}

#peer-box ul{
    width:100%;
    height:100%;
    padding:10px 15px 0 15px;
    list-style: none;
}
#peer-box ul li{
}
#peer-box ul li.me{
    text-align: right;
}
#peer-box ul li.other{
    text-align: left;
}
.user-item .avatar {
    margin:0 auto;
    border-radius: 3px;
}
.user-item .name {
    margin: 0;
    margin-top:8px;
    margin-left:8px;
    letter-spacing: normal;
    color: #999;
}
.user-item.user-item-selected {
    background: #eee;
}
.user-item.user-item-unread {
    border-left: 6px solid #1b98f8;
}

